

    div.container{
        border: 3px solid #ae7b37a8;
        width:80%;
        margin: 0 auto;
        background-color: #ae7b37a8;
    }
    header{
        background-color:#ae7b37a8; 
    }
    .hero img{
        width: 100%;
    }
    nav{
        background-color: #dbdbacc5;
        width:auto
    }
    ul{
        text-align: center;
    }
    li{
        display:inline-block;
        width: 90px;
        border: 2px solid black;
        line-height: 3em;
        font-family:'Times New Roman', Times, serif;
        font-variant: normal;
    }

    a{
        color: #5d3b05;
        text-decoration: none;
        display: block;
    }

   